<!DOCTYPE html >

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page</title>


        <!-- Bootstrap Core CSS -->
        <link href="../bootstrap/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


      <!-- Custom Fonts -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

      <!-- jquery -->
     <script src="../jquery/dist/jquery.js"></script>


             <!-- jquery -->
             <script src="../jquery/dist/jquery.min.js"></script>


       <!-- Bootstrap js -->
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Bootstrap js -->
        <script src="../bootstrap/dist/js/bootstrap.js"></script>

<style>

.modal-body{
  padding-left: 30px;
  padding-right: 30px;
}

</style>

<!-- For stars -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <style>
			.left{
				float:left;
				margin:3px;
			}
              .checked {
                  color: orange;
              }
        </style>   

</head>


<body>


    <div class="container-fluid">
    	<div class="row">
    		<nav class="navbar navbar-default">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="#">Brand</a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				        <li><a href="#">Link</a></li>
					  </ul>
 				   	  <form class="navbar-form navbar-left" role="search">
					        <div class="form-group">
					          <input type="text" class="form-control" placeholder="Search">
					        </div>
					        <button type="submit" class="btn btn-default">Submit</button>
					  </form>
					  <ul class="nav navbar-nav navbar-right">
					        <li><a href="#">Link</a></li>
					  </ul>
				    </div>
				</nav>
        </div>
 		<div class="row">

 		</div>
 		<!--./row -->
    <button type="button" class="btn btn-default" data-dismiss="modal" id="showmodal">open modal</button>


       <div class="modal fade" id="mymodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Idea</h4>
          </div>
          <div class="modal-body">
                  <div class="row">

                    					<div class="form-group">
                                        <label>Title</label>
                    							      <input type="text" class="form-control" name="title" id="title" placeholder="" disabled>
                    					</div>


            							  	<div class="form-group">
            							      <label>Summary</label>
              							        <input type="text" class="form-control" name="summary" id="summary"  placeholder="" disabled>
            							    </div>

                              <div class="form-group">
                                    <label>Description</label>
                                    <textarea type="text" class="form-control" rows="20" id="description" disabled></textarea>
                              </div>



                                  <div class="form-group">
                                    <label>Features</label>
                                      <textarea type="text" class="form-control" rows="3" name="features" id="features"  placeholder="" disabled></textarea>
                                  </div>


                                        <div class="form-group">
                      							      <label>Bussiness Impact</label>
                      							        <textarea type="text" class="form-control" rows="3" name="businessImpact" id="businessImpact" placeholder="" disabled></textarea>
                      							    </div>

                                           <div class="form-group">
                            							      <label>Tangible Benefits</label>
                            							        <textarea type="text" class="form-control" rows="3"name="tangibleBenefits" id="tangibleBenefits"  placeholder="" disabled></textarea>
                            							    </div>
															
                                           <div class="form-group">
                            							      <label>Comments</label>
                            							        <textarea type="text" class="form-control" rows="3"name="comments" id="comments"  placeholder=""></textarea>
                            							    </div>

											<!-- RADIO BUTTONS COMMENTED OUT
                                              <label for="radio">Regulation Status</label>
                                              <form action="form-group">
												
                                                <div class="col-lg-4">
                                                <input type="radio" name="regulated" value=1> Regulated
                                              </div>


                                                <input type="radio" name="regulated" value=2> Nonregulated<br>

                                            </form
											-->


                                              <div class="form-group">
                               							      
															  <br>
															  <a href="#fileLocation">
																<label class="label label-primary" style="font-size:15px;">View Uploaded Document</label>
																</a>
                               							        
                               					</div>
												
												<div class="form-group">
												  <label for="decision">Approve/Reject:</label>
												  <select class="form-control" id="decision">
													<option>Accept</option>
													<option>Reject</option>
													
												  </select>
												</div>
												<!-- extra select element. Change names according to your convenience.-->
												<div class="form-group">
												  <label for="select1">Select:</label>
												  <select class="form-control" id="select1">
													<option>1</option>
													<option>2</option>
													
												  </select>
												</div>			
												<!--RADIO BUTTONS COMMENTED OUT
                                                <label for="radio">Protoype Status</label>
                                                <form action="form-group">

                                                <div class= "col-lg-4">
                                                <input type="radio" name="prototypeagree" value=1> Prototype Agree
                                              </div>

                                                <input type="radio" name="prototypeagree" value=2> Prototype Disagree
												-->
                                              </form>





                </div>

          </div>
          <div class="modal-footer">
			<span id="1" class="fa fa-star left"></span>
			<span id="2" class="fa fa-star left"></span>
			<span id="3" class="fa fa-star left"></span>
			<span id="4" class="fa fa-star left"></span>
			<span id="5" class="fa fa-star left"></span>
			<span name="rating" class="badge left" id="ratingValue"  value=0>0</span>
		
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    </div>
    <!--./container-fluid -->

<script>

$(document).ready(function(){

  $("#showmodal").click(function(){
    $('#mymodal').modal('show');
  })

})



</script>

<script>
       $(document).ready(function(){
                  $(".fa-star").mouseenter(function(){
                        var currRating = $(this).attr('id');
                        
                        var i = 1;
                        while(i <= currRating){
                              $("#"+i).addClass("checked");
                              i += 1;
                        }
                        
                        while(i <= 5){
                              $("#"+i).removeClass("checked");
                              i += 1;
                        }
                        $("#ratingValue").val(currRating); 
						$("#ratingValue").text(currRating);
                  });
				  $("#1").click(function(){
						var i = 1;
						while(i <= 5){
                              $("#"+i).removeClass("checked");
                              i += 1;
                        }
                        $("#ratingValue").val(0); 
						$("#ratingValue").text(0);
				  });
            });
     </script>
</body>
</html>
